/* reset code for css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* ---------- CSS STARTS HERE ---------- */

/* ----- GENERAL/APPLIES THROUGHOUT ----- */

/* Font change - Headings */
h1, h2, h3 {
    font-family: "Lato", sans-serif;
}
/* Font change - Body & Footer */
body, footer {
    font-family: "Karla", sans-serif;
}

/* Typescales - Mobile */
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
h2 {
    font-size: 1.75rem;
    font-weight: bold;
}
h3 {
    font-size: 1.375rem;
    font-weight: bold;
    color: #d69e3d; 
}
p {
    font-size: 1rem;
}

/* Centers & aligns all elements w/ a class of .wrapper */
.wrapper {
    margin: 0px auto;
    padding: 1rem;
}

/* sets box-sizing for all elements, restricts within */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/* ----- NAVIGATION ----- */

/* displays company title beside the logo image, aligns left */
.nav-title {
    display: flex;
    justify-content: left;
}

/* adjusts size of logo image */
#nav-logo {
    width: 3rem;
    height: auto;
}

/* colours nav title white */
.nav-title h1 {
    color: white;
    padding: 1rem;
}

/* adds space around nav */
nav {
    padding: 0.5rem;
}

/* colours, removes decor on nav menu */
.nav-menu a {
    color: white;
    text-decoration: none;
}

/* removes bullet points on nav, aligns vertically, adds gap */
.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;

}

.hero-bg-image hr {
    color: white;
}

/* ----- HERO ----- */

/* adds bg image for hero */
.hero-bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/hero-background.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

main {
    margin: 10rem 0 10rem 0;
}

/* adds padding around title, centers */
.hero h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

/* colours text, adds padding, increases f-size, aligns centers, increases line-height */
.hero p {
    color: white;
    font-size: 1.375rem;
    padding: 2rem 2rem;
    text-align: center;
    line-height: 2rem;
}

/* decors button, centers, adds padding */
.hero button{
    display: block;
    margin: 0 auto;
    font-family: "Karla", sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
}

