/* reset code for css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* ---------- CSS STARTS HERE ---------- */



/* ----- GENERAL/APPLIES THROUGHOUT ----- */

/* Font change - Headings */
h1, h2, h3 {
    font-family: "Lato", sans-serif;
}
/* Font change - Body & Footer */
body, footer {
    font-family: "Karla", sans-serif;
}

/* Typescales - Mobile */
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
h2 {
    font-size: 1.75rem;
    font-weight: bold;
}
h3 {
    font-size: 1.375rem;
    font-weight: bold;
    color: #d69e3d; 
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
}
button {
    font-family: "Karla", sans-serif;
}
hr {
    margin: 0 auto;
}

/* Centers & aligns all elements w/ a class of .wrapper */
.wrapper {
    margin: 0px auto;
    padding: 2rem;
    max-width: 1200px;
}

.wrapper-colour {
    width: 100%;
    background-color: #f3f0e9;
}

/* sets box-sizing for all elements, restricts within */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/* ----- NAVIGATION ----- */

/* displays company title beside the logo image, aligns left */
.nav-title {
    display: flex;
    justify-content: left;
}

/* adjusts size of logo image */
#nav-logo {
    height: auto;
}

/* adds padding to logo*/
.nav-title h1 {
    padding: 1rem;
}

/* adds space around nav */
nav {
    padding: 0.5rem;
}

/* colours, removes decor on nav menu */
.nav-menu a {
    color: white;
    text-decoration: none;
}

/* removes bullet points on nav, aligns vertically, adds gap */
.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* adds hover state for nav menu, underline */
nav a:hover {
    text-decoration: underline;
    transition: color 0.3s ease;
}

/* ----- HERO ----- */

/* colours horizontal line below nav */
.hero-bg-image hr {
    color: white;
}

/* adds bg image for hero */
.hero-bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/hero-background.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    
    color: black;
}

/* adds space top and bottom of hero content */
main {
    margin: 10rem 0 10rem 0;
}

/* adds padding around title, centers */
.hero h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

/* colours text, adds padding, increases f-size, aligns centers, increases line-height */
.hero p {
    color: white;
    font-size: 1.375rem;
    padding: 2rem 2rem;
    text-align: center;
    line-height: 2rem;
}

/* decors button, centers, adds padding */
.hero button{
    display: block;
    margin: 0 auto;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
}

/* decors HOVER state for hero button */
.hero button:hover {
    color:white;
    background-color: #966f2c;
    border-style: none;
}


/* ----- WELCOME ----- */

/* adds space top & bottom of welcome section */
.welcome {
    margin: 5rem 0 5rem 0;
}

/* colours h1, adds line-height, adds padding */
.welcome h1 {
    color: black;
    line-height: 2.5rem;
    padding: 1rem 0 1rem 0;
}

/* adjusts latte image so it's responsive and fits */
#latte {
    width: 100%;
}

/* --- grid for images in welcome --- */

/* sets width, adds gap */
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.image-grid img {
    display: block;
    width: 100%;
    height: auto;
}

/* top left */
#coffee-beans {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

/* top right */
#pouring-coffee {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

/* bottom left */
#three-cups {
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

/* bottom right */
#smiling {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

/* ------ VISIT US ----- */

/* centers headings, adds padding bottom */
.visit-us h3 {
    text-align: center;
    padding: 1rem;
}

.visit-us h2 {
    text-align: center;
}

/* centers and adjusts size of FAIR TRADE */
#fair-trade {
    width: 50%;
}
.fair-trade {
    text-align: center;
    padding: 2rem;
}
.fair-trade h3{
    color: black;
}

/* centers and adjusts size of LOCAL BAKED GOODS */
#baked-goods {
    width: 50%;
}
.baked-goods {
    text-align: center;
    padding: 2rem;
}
.baked-goods h3 {
    color: black;
}

/* centers and adjusts size of WITH LOVE */
#with-love {
    width: 50%;
}
.with-love {
    text-align:center;
    padding: 2rem;
}
.with-love h3 {
    color: black;
}

/*  ------ OUR MENU & LOCATION ----- */

/* sets bg image, adds dark overlay */
.menu-location-bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coffee-shop.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

/* centers & colours MENU */
.our-menu {
    padding: 3rem;
}
.our-menu h3 {
    text-align: center;
}
.our-menu h2 {
    text-align: center;
    color: white;
    padding: 1rem;
}

/* decors button, centers, adds padding */
.our-menu button {
    background-color: white;
    color: black;
    border-color: white;
    border-style: solid;
    padding: 0.5rem 1rem;
    display: block;
    margin: 0 auto;
    font-size: 1.75rem;
}

/* decors HOVER state for button */
.our-menu button:hover {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    color: white;
}

/* centers & colours LOCATION */
.location {
    padding: 3rem;
}
.location h3 {
    text-align: center;
}
.location h2 {
    text-align: center;
    color: white;
    padding: 1rem;
}

/* decors button, centers, adds padding */
.location button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
    padding: 0.5rem 1rem;
    display: block;
    margin: 0 auto;
    font-size: 1.75rem;
}

/* decors HOVER state for button */
.location button:hover {
    background-color: white;
    color: black;
}

/* ----- ABOUT US ------ */

/* fits image */
#about-us-image {
    width: 100%;
}

/* adds padding top & bottom of content section */
.about-us-content {
    padding: 2rem 0 1rem 0;
}

/* adds padding top & bottom of heading */
.about-us-content h2 {
    padding: 1rem 0 1rem 0;
}

/* decors button */
.about-us-content button {
    font-size: 1.375rem;
    background-color:black;
    color: white;
    border:none;
    padding: 1rem 3rem;
    margin-top: 1rem;
}

/* ------ TESTIMONIALS ------ */

/* changes bg to black */
.black-wrapper {
    background-color: black;
}
widh

.testimonials {
    margin: 2rem 0 10rem 0;
}

/* colours and adds padding to headings */
.testimonials h2 {
    color: white;
    padding: 1rem 0 1rem 0;
}
.testimonials h3 {
    padding: 1rem 0 1rem 0;
}

/* -- JANE -- */

/* sets bg image, adds overlay, displays full size */
.jane {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/testimonial-1.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    background-position: center;

    width: 100%;
    aspect-ratio: 778 / 1118;
    position: relative;
    margin: 2rem 0 2rem 0;
}

/* changes body text colour to white */
.jane p {
    color: white;
}
/* positions bottom left, adds padding */
.jane-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

/* -- SCOTT -- */

/* sets bg image, adds overlay, displays full size */
.scott {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/testimonial-2.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    background-position: center;

    width: 100%;
    aspect-ratio: 778 / 1118;
    position: relative;
    margin: 2rem 0 2rem 0;
}

/* changes body text colour to white */
.scott p {
    color: white;
}

/* positions bottom left, adds padding */
.scott-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem 7rem 1rem 1rem;
}

/* -- SUSIE -- */

/* sets bg image, adds overlay, displays full size */
.susie {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/testimonial-3.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    background-position: center;

    width: 100%;
    aspect-ratio: 778 / 1118;
    position: relative;
    margin: 2rem 0 4rem 0;
}

/* changes body text colour to white */
.susie p {
    color: white;
}

/* positions bottom left, adds padding */
.susie-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: 1rem 7rem 1rem 1rem;
}

/* ----- FOOTER ----- */

footer {
    color: white;
    text-align:center;
    font-weight: lighter;
}


/* ****** MEDIA QUERY FOR 760PX ******
*********       TABLET      ******* */


@media screen and (min-width: 768px){

/* --- General - Applies Throughout --- */

/* font size increases */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.375rem;
}
h3 {
    font-size: 1.75rem;
}
p {
    font-size: 1rem;
}

/* ------ NAVIGATION ------ */

/* increases nav menu font size */
.nav-menu a {
    font-size: 1.375rem;
}

/* ----- HERO ------ */

main h1{
    margin-left: 15%;
    margin-right: 15%;
}

/* ----- WELCOME ------ */

/* decreases margin of section top & bottom */
.welcome {
    margin: 3rem 0 3rem 0;
}

/* increases line-height for h1 */
.welcome h1 {
    line-height: 3.5rem;
}

/* displays grid to the right of latte image, decreases gap, centers */
.grid-aside {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* displays 50% of width  - left */
#latte {
    width: 50%;
}

/* displays 50% of width - right */
.image-grid {
    width: 50%;
    gap: 1rem;
    margin: 0;
}

/* ------ VISIT US ------ */

/* displays grid for icons */
.visit-us-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* top left */
.fair-trade {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
/* top right */
.baked-goods {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
/* bottom middle */
.with-love {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

/* ---- TESTIMONIALS ----- */

/* displays grid for testimonials */
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

/* top left */
.jane {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
/* top right */
.scott {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
/* bottom middle */
.susie {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    margin: -2rem 0 0 0;
}

}



/* ****** MEDIA QUERY FOR 1440PX ******
*********         DESKTOP        ******* */


@media screen and (min-width: 1440px){

/* ---- General - Applies Throughout ----- */

/* font size increases */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.375rem;
}
h3 {
    font-size: 1.75rem;
}
p {
    font-size: 1rem;
}


/* ----- NAVIGATION ------ */

/* displays nav menu & logo on the same line */
.nav-flex {
    display: flex;
    justify-content: space-between;
}

/* ----- HERO ------ */

/* adjusts space on sides for h1 and p */
main h1 {
    margin-left: 20%;
    margin-right: 20%;
}

main p {
    margin-left: 10%;
    margin-right: 10%;
}

/* ----- VISIT US ----- */

/* displays grid for icons - ALL IN A ROW */
.visit-us-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

/* left */
.fair-trade {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}
/* middle */
.baked-goods {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}
/* right */
.with-love {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}


/* ----- OUR MENU & LOCATIONS ------ */

/* displays menu & location side-by-side horizontally */
.menu-location-flex {
    display: flex;
}

/* ------ ABOUT US ------ */

/* displays about us image & content side-by-side, adds padding top & bottom */
.about-us-flex {
    display: flex;
    gap: 2rem;
    padding: 5rem 0 5rem 0;
}

/* ---- TESTIMONIALS ----- */

/* displays testimonials in a ROW */
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 3rem;
}

/* left*/
.jane {
    grid-column: 1 / 2;
    grid-row: 1;
    align-self: start;
}
/* middle */
.scott {
    grid-column: 2 / 3;
    grid-row: 1;
    align-self: start;
}
/* right */
.susie {
    grid-column: 3 / 4;
    grid-row: 1;
    align-self: start;
    margin: 2rem 0 0 0;
}

/* ---- FOOTER ----- */

/* adds space top & bottom of hr */
footer hr {
    margin: 3rem 0 2rem 0;
}

/* adds space below copyright p */
footer p {
    margin-bottom: 10rem;
}

}